@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{

    background-color: rgba(198, 228, 214, 1);
    margin: 113.6px 128px ;
    border-radius: 19.2px;
    padding: 100px;
    width: 1,024px;
    height: 448px;
    display: flex;
    justify-content: space-between ;

}

.ban{
    color: rgba(14, 14, 14, 0.5);

}
.bd{
    padding-left:44.8px;

    width: 497.6px;
    text-align: top left;
    font-size: 23px;
    gap: 64px;
    
}

.hero{
    display: flex;
    justify-content: right;
   
    
}

.btn{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6.4px;
    height: 56px;
    width: 216px;
    color: white;


  
}

.box{
    display:flex ;
    justify-content: space-between;
    padding-left:128px;
    padding-right: 128px;
    gap: 20px;
   

    

}
.box-card{
    background: rgb(255, 255, 255);
    border-radius: 12.8px;
    padding: 19.2px;
    width: 241.6px;
    height: 195.2px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    gap:19.2px;
    margin: 0px 24px;

}
.tvf{
    
    gap: 19.2px;
   margin-left: 128px;
   margin-right: 128px;
   margin-top: 64px;
}
.tvfu{
    color: rgb(14, 14, 14);
    font-size: 32px;

}
.para{
    color: rgba(14, 14, 14, 0.7);
    gap:  9.6px;
    font-size: 12.8px;

}
