@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{

    background-color: rgba(198, 228, 214, 1);
    margin: 113.6px 128px ;
    border-radius: 19.2px;
    padding: 100px;
    width: 1,024px;
    height: 448px;
    display: flex;
    justify-content: space-between ;

}

.ban{
    color: rgba(14, 14, 14, 0.5);

}
.bd{
    padding-left:44.8px;
    width: 497.6px;
    text-align: top left;
    font-size: 23px;
    gap: 64px;
    margin-left: 128px;
    
}

.hero{
    display: flex;
    justify-content: right;
   
    
}

.btn{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6.4px;
    height: 56px;
    width: 216px;
    color: white;


  
}

.box{
    display:flex ;
    justify-content: space-between;
    padding-left:128px;
    padding-right: 128px;
    gap:19.2px;
   

    

}
.box-card{
    background: rgb(255, 255, 255);
    border-radius: 12.8px;
    padding: 19.2px;
    width: 241.6px;
    height: 195.2px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    gap:19.2px;
    margin: 0px 24px;

}

.bcp{
 color: rgba(14, 14, 14, 0.7);

}
.tvf{
    
   gap: 19.2px;
   margin-left: 128px;
   margin-right: 128px;
   margin-top: 64px;
}
.head{
    margin-left: 32px;
}
.tvfu{
    color: rgb(14, 14, 14);
    font-size: 32px;

}
.para{
    color: rgba(14, 14, 14, 0.7);
    gap:  9.6px;
    font-size: 12.8px;
    font-weight: 320px;
    line-height: 19.2px;
    margin: 9.6px 0px;

}


.dgm-card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 60px;
    padding: 25.6px;
    margin-left:128px ;
}

.dgm-box{

border-radius: 12.8px;
background: rgba(84, 144, 245, 0.2);
width: 328.536px;
height: 260px;
padding: 25.6px;
gap:19.2px ;
}

.dgm-box-1{
border-radius: 12.8px;
background: rgb(198, 228, 214);
width: 328.536px;
height: 260px;
padding: 25.6px;
gap:19.2px ;

}


.dgm-box-2{

border-radius: 12.8px;
background: rgb(247, 235, 207);
width: 328.536px;
height: 260px;
padding: 25.6px;
gap:19.2px ;

}
.btn-lm{
    color: rgb(255, 255, 255);
    font-size: 12.8px;
    margin: 25.6px ,25.6px;
    
    border-radius:6.4px;
    background: rgb(84, 144, 245); 
    padding: 8.8px 16px 8.8px 16px;  

}

.btn-lm-1{
    color: rgb(255, 255, 255);
    font-size: 12.8px;
    margin: 25.6px ,25.6px;
    
    border-radius:6.4px;
    background: rgb(9, 161, 92);
    padding: 8.8px 16px 8.8px 16px;  

}

.btn-lm-2{
    color: rgb(255, 255, 255);
    font-size: 12.8px;
    margin: 25.6px ,25.6px;
    
    border-radius:6.4px;
    background: rgb(255, 194, 57); 
    padding: 8.8px 16px 8.8px 16px;  

}
.rn{
    margin-top: 64px;
    margin-left: 150px;
    margin-right: 128px;
    
}

.rnh{
    font-size: 32px;

}

.bls{
    background: rgb(255, 255, 255);
    border-radius: 19.2px;
    display: flex;
    justify-content: left;
    margin-left: 128px;
    margin-right: 128px;
    gap: 34px;
    padding: 38.4px;
    border: 1.5px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 15px;
}
.blns{
    
    order: 1;
    flex-grow: 1;
    padding-bottom: 64px;

}
.imgst{
    border-radius:19.2px;
}

.btn-rm{
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 12.8px;
    border-radius:6.4px;
    background: rgb(9, 161, 92);
    padding: 8.8px 16px 8.8px 16px;
}

.donet{
    text-align: center;
    font-size: 32px;
}
.donet-p{
    color: rgba(14, 14, 14, 0.7);
    gap:  9.6px;
    font-size: 12.8px;
    font-weight: 320px;
    line-height: 19.2px;
    margin: 9.6px 0px;
    text-align: center;

}

.donet-box{
display: flex;
flex-direction: row;
padding: 32px;
margin-left: 128px;
margin-right: 128px;


}
.donet-card{
    border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 12.4px;
        background: rgb(255, 255, 255);
        padding:30px;
        box-sizing: border-box;;
        gap: 24px;
        width:260px;
        text-align: center;
        margin: 0px 24px;
}
.donet-card-1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12.4px;
    background: rgb(198, 228, 214);
    padding:30px;
    box-sizing: border-box;;
    gap: 24px;
    width: 240px;
    text-align: center;
    margin: 0px 24px;
}

.tx{
    text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
text-align: center;
gap: 24px;
padding: 20px 40px 20px 40px;
}

.txt{
    text-align: center;
gap: 24px;
    box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 16px 32px 16px 32px;
width: 825.6px;
height: 51.2px

}

.btn-d{
    width: 120.8px;
    height: 44.8px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 6.4px;

background: rgb(0, 106, 80);
color: white;

}







